@model IEnumerable<FlightBooking.MVC_Sprint2.Models.Flight>

@{
    ViewData["Title"] = "Index";
}

<div style="font-family:'Times New Roman'">
    <h1 style="color:brown" align="center" ;><b>Flights List</b></h1>
    @if (User.Identity.IsAuthenticated)
    {
        <p>
            <a style="color:indianred" asp-action="Create">Add Flight</a>
        </p>
    }
    <form asp-action="Index" method="get">
        <div class="from-actions no-color">
            <p>
                Find By Name :<input type="text" name="search" placeholder="Search.." />
                <input type="submit" value="Search" class="btn-primary btn-default" /> |
                <a asp-action="Index">Clear Search</a>
            </p>
        </div>
    </form>
    <table class="table-bordered">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FlightName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FromLocation)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ToLocation)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FlightStatus)
                </th>
                @*<th>

                    @Html.DisplayNameFor(model => model.IsActive)
                </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.DepartureDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DepartureTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ArrivalDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ArrivalTime)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FlightName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FromLocation)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ToLocation)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FlightStatus)
                    </td>
                    @*<td>
                        @{ string IsActive = item.IsActive ? "Yes" : "No";}
                        @Html.DisplayFor(modelItem => item.IsActive)
                    </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.DepartureDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DepartureTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ArrivalDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ArrivalTime)
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        @if (User.Identity.IsAuthenticated)
                        {
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit |</a> 
                        } 
                        @if (User.Identity.IsAuthenticated)
                        {
                            <a asp-action="Delete" asp-route-id="@item.Id"> Delete | </a>

                        }
                        @if (User.Identity.IsAuthenticated)
                        {
                            <a style="color:Red" asp-action="Index" asp-controller="Passengers" asp-route-id="@item.Id"> Book </a>
                        } 



                    </td>
                </tr>
            }
        </tbody>
    </table>
    </div>
